<div class="container">
    <div class="form-boton">
        <div class="form">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="number" placeholder="Edad">
            <input type="text" placeholder="Esta retirado?">
            <input type="text" placeholder="Nacionalidad">
            <input type="number" placeholder="Numero de oscars">
            <input type="text" placeholder="Profesion">
        </div>
        <div class="botones">
            <button type="button">Mostrar</button>
            <button type="button">Añadir</button>
            <button type="button">Editar</button>
            <button type="button">Eliminar</button>
        </div>
    </div>
    <div class="mostrador">

    </div>
</div>